{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- HERO -->
    <section class="hero fade-in">
        <h2>Explora Proyectos Innovadores</h2>
        <p>Descubre los emprendimientos más recientes y apoya a los emprendedores.</p>
    </section>

    <!-- INFO -->
    <section class="info fade-in">
        <h2>Únete a Nuestra Comunidad</h2>
        <p>Regístrate para compartir tus ideas y conectar con otros emprendedores.</p>
    </section>

    <!-- CATEGORÍAS -->
    <section class="categorias fade-in">
        <h2>Categorías de Emprendimientos</h2>
        <div class="grid-categorias">
            <div class="cat-item">
                <i class="fa-solid fa-palette"></i>
                <p>Arte y Diseño</p>
            </div>
            <div class="cat-item">
                <i class="fa-solid fa-microchip"></i>
                <p>Tecnología</p>
            </div>
            <div class="cat-item">
                <i class="fa-solid fa-concierge-bell"></i>
                <p>Servicios</p>
            </div>
            <div class="cat-item">
                <i class="fa-solid fa-utensils"></i>
                <p>Alimentación</p>
            </div>
        </div>
    </section>

{% endblock %}
