{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio - Emprendimientos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <!-- Navbar -->
    {% include "navbar.html" %}

    <main>

        <!-- HERO -->
        <section class="hero">
            <h2>Explora Proyectos Innovadores</h2>
            <p>Descubre los emprendimientos más recientes y apoya a los emprendedores.</p>
        </section>

        <!-- INFO -->
        <section class="info">
            <h2>Únete a Nuestra Comunidad</h2>
            <p>Regístrate para compartir tus ideas y conectar con otros emprendedores.</p>
        </section>

       <!-- CATEGORÍAS -->
<section class="categorias">
    <h2>Categorías de Emprendimientos</h2>
    <div class="grid-categorias">
        <div class="cat-item">
            <i class="fa-solid fa-palette"></i>
            <p>Arte y Diseño</p>
        </div>
        <div class="cat-item">
            <i class="fa-solid fa-microchip"></i>
            <p>Tecnología</p>
        </div>
        <div class="cat-item">
            <i class="fa-solid fa-concierge-bell"></i>
            <p>Servicios</p>
        </div>
        <div class="cat-item">
            <i class="fa-solid fa-utensils"></i>
            <p>Alimentación</p>
        </div>
    </div>
</section>

    </main>

    <!-- Footer -->
    {% include "footer.html" %}

</body>
</html>
